# Arquivos de configuração sensíveis
.env
.env.local
.env.development
.env.test
.env.production
/.docker/mysql.env

# Dependências
/vendor/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de backup
*.bak
*.backup

# Arquivos de cache
cache/
*.cache 